@using IPM.Data.ModelReport;
@model IPM.Web.Models.FormReportViewModel
@{
    ViewBag.Title = "Report Interviewers";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
    //var candidates = ViewBag.list as List<ReportCandidates>;
}

<style>
    #label_interviewResult {
        margin-top: 0px;
    }

    table_reportInterviewers {
        width: 50%;
        counter-reset: row-num;
    }

    table tr {
        counter-increment: row-num;
    }

        table tr td:first-child::before {
            content: counter(row-num) ". ";
        }
</style>

<script>
    $(document).ready(function () {
        $("#div_exportFile").css("display", "none");
        var list = [];

        var table = $('#table_reportInterviewers').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aaData": list,
            "aoColumns": [
                { "mDataProp": "ID" },
                { "mDataProp": "Name" },
                { "mDataProp": "Account" },
                { "mDataProp": "NumOfCandidates" },
                { "mDataProp": "PassFail" }

            ]
        });


        $("#btn_loadingData").click(function () {

            var obj = {
                FromDate: $("#txt_FromDate").val(),
                ToDate: $("#txt_ToDate").val(),
                Name: $("#txt_Name").val(),
                InterviewResult: $("#cbb_InterviewResult").val(),
            };


            $.ajax({
                type: "POST",
                url: "/Report/getDataReportInterviewers",
                data: JSON.stringify(obj),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                error: function (response) { },
                success: function (response) {                    
                    list = response;                                       
                    $('#table_reportInterviewers').dataTable().fnDestroy();
                    var table = $('#table_reportInterviewers').DataTable({
                        "paging": true,
                        "lengthChange": true,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false,
                        "aaData": list,
                        "aoColumns": [
                            { "mDataProp": "ID" },
                            { "mDataProp": "Name" },
                            { "mDataProp": "Account" },
                            { "mDataProp": "NumOfCandidates" },
                            { "mDataProp": "PassFail" }

                        ]
                    });

                    if (list.length != 0) {
                        $("#div_exportFile").css("display", "");
                    }
                }
            });
        });
        
    });


    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
    }

</script>

<section class="content-header">
    <h1>
        @IPM.Web.MultiLanguage.Resource.Report Interviewers
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> @IPM.Web.MultiLanguage.Resource.Home</a></li>
        <li class="active">@IPM.Web.MultiLanguage.Resource.Report Interviewers</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-12">
                    <!--Form-->
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">@IPM.Web.MultiLanguage.Resource.Filter</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            @using (Html.BeginForm("GetDataReportInterviewers", "Report", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <!-- /.form-group -->
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="">@IPM.Web.MultiLanguage.Resource.FromDate:</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", @type = "date", @placeholder = "Enter Start Time", @id = "txt_FromDate", })
                                                        @*<input type="date" class="form-control" id="txt_FormDate" placeholder="" name="">*@
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-md-6">
                                            <!-- /.form-group -->
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="">@IPM.Web.MultiLanguage.Resource.Name:</label>
                                                <div class="col-sm-9">
                                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @type = "text", @placeholder = "Enter Name", @id = "txt_Name", })
                                                </div>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <!-- /.form-group -->

                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="">@IPM.Web.MultiLanguage.Resource.ToDate:</label>
                                                <div class="col-sm-9">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", @type = "date", @placeholder = "Enter End Time", @id = "txt_ToDate", })
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-md-6">
                                            <!-- /.form-group -->
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="" id="label_interviewResult">@IPM.Web.MultiLanguage.Resource.InterviewResult:</label>
                                                <div class="col-sm-9">
                                                    @{
                                                        var Items = new SelectList(new[]
                                                        {
                                                           new SelectListItem {Text = "1", Value = "Pass"},
                                                           new SelectListItem {Text = "0", Value = "Fail"},
                                                           new SelectListItem {Text = "2", Value = "NonePassFail"}
                                                        }, "Text", "Value");
                                                    }
                                                    @Html.DropDownListFor(model => model.InterviewResult, (SelectList)Items, IPM.Web.MultiLanguage.Resource.ChooseResult, new { @class = "form-control", @id = "cbb_InterviewResult" })
                                                </div>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                </div>

                            <!-- /.row -->
                                                        <br>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-offset-4 col-md-2">
                                                                <button type="button" class="btn btn-primary" id="btn_loadingData">@IPM.Web.MultiLanguage.Resource.LoadingData</button>
                                                            </div>
                                                            <div class="col-md-offset-1 col-md-5">
                                                                <button type="button" class="btn btn-default">@IPM.Web.MultiLanguage.Resource.ClearFilter</button>
                                                            </div>
                                                        </div>
                                                        }

                        </div>
                        <!-- /.box-body -->
                        @*<div class="box-footer">
                                Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about
                                the plugin.
                            </div>*@
                    </div>
                    <!--End Form-->
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <!--Table-->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">@IPM.Web.MultiLanguage.Resource.Result</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-md-12" id="div_exportFile">
                        <div class="col-md-offset-10 col-md-2">
                            <button type="button" class="btn bg-default btn-flat margin" onclick="window.location = '@Url.Action("ExportExcelReportInterviewers","Report")'">Excel</button>
                            <button type="button" class="btn bg-default btn-flat margin" onclick="window.location = '@Url.Action("ExportPdfReportInterviewers","Report")'">PDF</button>
                        </div>
                    </div>
                    <table class="table table-bordered" id="table_reportInterviewers">

                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>@IPM.Web.MultiLanguage.Resource.NameInterviewer</th>
                                <th>@IPM.Web.MultiLanguage.Resource.AccountInterviewer</th>
                                <th>@IPM.Web.MultiLanguage.Resource.NumOfCandidate</th>
                                <th>@IPM.Web.MultiLanguage.Resource.PassFail</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            @*@if (candidates != null)
                                {
                                    foreach (var item in candidates)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>@item.Name</td>
                                            <td>@item.Result</td>
                                            <td>@item.Date</td>
                                        </tr>
                                    }
                                }*@
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                @*<div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">«</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>*@
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!--End Table-->
    <!-- /.row -->

</section>
<!-- /.content -->
