@using System.Configuration
@using IPM.Web.MultiLanguage
@using PagedList.Mvc
@model IPagedList<IPM.Web.Models.MeetingRequestViewModel>
@{
    ViewBag.Title = "List Meeting Request";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<script>
    function myFunction() {
        var x = document.getElementById("mySelect").value;
        window.location.href = "/MeetingRequest/Index/?pageSize=" + x;
    }

    $(document).ready(function() {
        $('#table_mr').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });

        var pageSize = getUrlParameter('pageSize');
        if (typeof (pageSize) != "undefined") {
            $('#mySelect').val(pageSize);
        }

        $("#table_mr_info").css("display", "none");
    });

    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };

</script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Meeting Request
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>@IPM.Web.MultiLanguage.Resource.Home</a>
        </li>
        <li class="active">@IPM.Web.MultiLanguage.Resource.MeetingRequest</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">@IPM.Web.MultiLanguage.Resource.List Meeting Request</h3>
                    <div class="box-tools">

                        <button class="btn btn-primary" onclick="@("window.location.href='" + Url.Action("Create", "MeetingRequest") + "'"); ">
                            <i class="fa fa-plus"></i>
                            @IPM.Web.MultiLanguage.Resource.Create Meeting Request
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <span>View</span>
                    <select id="mySelect" onchange="myFunction()">
                        @{
                            string pageSize = ConfigurationManager.AppSettings["PageSize"];
                            string[] Arr_pageSize = pageSize.Split(',');
                            for (var index = 0; index < Arr_pageSize.Length; index++)
                            {
                                <option value="@Arr_pageSize[index]">@Arr_pageSize[index]</option>
                            }
                        }
                    </select>
                    <span>rows</span>

                    <table class="table table-bordered" id="table_mr">
                        <thead>
                        <tr>
                            <th style="width: 10px">ID</th>
                            <th>@IPM.Web.MultiLanguage.Resource.Subject</th>
                            <th>@IPM.Web.MultiLanguage.Resource.Room</th>
                            <th>@IPM.Web.MultiLanguage.Resource.StartTime</th>
                            <th>@IPM.Web.MultiLanguage.Resource.EndTime</th>
                            <th>@IPM.Web.MultiLanguage.Resource.Interviewers</th>
                            <th>@IPM.Web.MultiLanguage.Resource.Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.Subject</td>
                                    <td>@item.Room.Name</td>
                                    <td>@item.StartDate</td>
                                    <td>@item.EndDate</td>
                                    <td>@item.InterviewerEmail</td>
                                    <td style="width: 120px">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                <span class="fa fa-cogs"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="@Url.Action("Edit", "MeetingRequest", new {ID = @item.ID})">
                                                        <i class="fa fa-edit"></i>@Resource.Edit
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="@Url.Action("Delete_Cancel", "MeetingRequest", new {ID = @item.ID})">
                                                        <i class="fa fa-trash"></i>@Resource.Delete
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="pull-left" style="padding-top: 20px">
                        <h3 class="panel-title">@IPM.Web.MultiLanguage.Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount </h3>
                    </div>
                    <div class="pull-right">
                        @{
                            pageSize = Request.QueryString["pageSize"];
                        }
                        @Html.PagedListPager(Model, page => Url.Action("Index", new {page, pageSize}))
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
