<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/Content/plugins/daterangepicker/daterangepicker.css">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/Content/plugins/datepicker/datepicker3.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/Content/plugins/iCheck/all.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/Content/plugins/colorpicker/bootstrap-colorpicker.min.css">
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="~/Content/plugins/timepicker/bootstrap-timepicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/plugins/select2/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <!-- DataTable style -->
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />

    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">

    <link href="~/Content/Css/InterviewAdmin.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    @if ((Session["Account"] == null) &&
             (HttpContext.Current.Request.Url.AbsolutePath == "/" || HttpContext.Current.Request.Url.AbsolutePath.Contains("/Home")))
    {
        // Render if not login, login faile, redirect to Homepage
        @RenderBody()
    }
    else if (Session["Account"] != null)
    {
        <div class="wrapper">
            @Html.Partial("~/Views/PartitalView/HeaderTopManagerPartial.cshtml")

            @Html.Partial("~/Views/PartitalView/MenuManagerPartial.cshtml")

            <div class="content-wrapper">

                @* Section to show notify Alert *@
                <div class="graphs">
                    @if (TempData["AlertMessage"] != null && (string)TempData["AlertMessage"] != "" && (string)TempData["AlertType"] == "alert-danger")
                    {
                        <div id="AlertBoxError" class="alert @TempData["AlertType"] hide">@Html.Raw(TempData["AlertMessage"])</div>
                    }
                    @if (TempData["AlertMessage"] != null && (string)TempData["AlertMessage"] != "" && (string)TempData["AlertType"] == "alert-success")
                    {
                        <div id="AlertBoxSuccess" class="alert @TempData["AlertType"] hide">@Html.Raw(TempData["AlertMessage"])</div>
                    }
                    @if (TempData["AlertMessage"] != null && (string)TempData["AlertMessage"] != "" && (string)TempData["AlertType"] == "alert-warning")
                    {
                        <div id="AlertBoxError" class="alert @TempData["AlertType"] hide">@Html.Raw(TempData["AlertMessage"])</div>
                    }
                    @RenderBody()
                </div>

            </div>
            @Html.Partial("~/Views/PartitalView/FooterManagerPartial.cshtml")
        </div>
            <script src="~/Scripts/alert.js"></script>
    }
    else
    {
        // Redirect to error page if access to page which you dont have permission to access
        <script language="javascript">
            window.location.replace("/Home/Index");
        </script>
        @RenderBody()
    }
    <!-- ./wrapper -->
    <!-- jQuery 2.2.3 -->
    @*<script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>*@
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- Select2 -->
    <script src="~/Content/plugins/select2/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="~/Content/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <!-- date-range-picker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Content/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
    <!-- bootbox -->
    <script src="~/Scripts/bootbox.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="~/Content/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- SlimScroll 1.3.0 -->
    <script src="~/Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/Content/plugins/iCheck/icheck.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/dist/js/demo.js"></script>
    <!-- DataTable jquery-->
    <script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
    <!-- DataTable bootstrap-->
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
    <!-- Page script -->
    <script>
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();

            //Datemask dd/mm/yyyy
            $("#datemask").inputmask("dd/mm/yyyy", { "placeholder": "dd/mm/yyyy" });
            //Datemask2 mm/dd/yyyy
            $("#datemask2").inputmask("mm/dd/yyyy", { "placeholder": "mm/dd/yyyy" });
            //Money Euro
            $("[data-mask]").inputmask();

            //Date range picker
            $('#reservation').daterangepicker();
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' });
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
                function (start, end) {
                    $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                }
            );

            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            });

            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });
            //Red color scheme for iCheck
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            });
            //Flat red color scheme for iCheck
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });

            //Colorpicker
            $(".my-colorpicker1").colorpicker();
            //color picker with addon
            $(".my-colorpicker2").colorpicker();

            //Timepicker
            $(".timepicker").timepicker({
                showInputs: false
            });
        });
    </script>
</body>
</html>